<footer class="text-slate-500 mt-6 mb-6">
  <p>Made with &hearts; by Liam Hockley | <a target="_blank"
      class="text-slate-500 mt-6 mb-6 border-slate-500 border-b-2 border-dotted hover:border-solid"
      href="https://github.com/xdega/liamhockley_blog.github.io">Github</a></p>

  <p>Powered by <a target="_blank"
      class="text-slate-500 mt-6 mb-6 border-slate-500 border-b-2 border-dotted hover:border-solid"
      href="https://staticshock.io/">Static
      Shock</a></p>
</footer>