<header class="pb-8 font-viga">
    <h1><a href="/">
            <span class="primary-gradient-text text-5xl tracking-tighter">
                liamhockley</span><span class="text-4xl text-white">.me</span>
        </a>
    </h1>
    <nav class="text-xl pt-2">
        <!-- Index or Blog Post -->
        {% if origin_page == "index" or origin_page == "blog_post" %}
        <a class="primary-gradient-text mr-4" href="/">blog</a>
        {% else %}
        <a class="mr-4" href="/">blog</a>
        {% endif %}

        <!-- Projects -->
        {% if origin_page == "projects" %}
        <a class="primary-gradient-text mr-4" href="#">projects</a>
        {% else %}
        <a class="mr-4" href="/pages/projects">projects</a>
        {% endif %}

        <!-- About -->
        {% if origin_page == "about" %}
        <a class="primary-gradient-text" href="#">about</a>
        {% else %}
        <a href="/pages/about">about</a>
        {% endif %}

    </nav>
</header>