<!doctype html>

<html lang="en" data-bs-theme="light">

{{ components.head_meta() }}

<body class="px-3 bg-slate-700 text-white max-w-3xl mx-auto pt-3">
  {{ components.header() }}

  <main class="markdown">
    {{ content }}
  </main>

  {{ components.footer() }}
</body>

</html>