<!--
title: liamhockley.me
origin_page: index
-->
<!doctype html>

<html lang="en" data-bs-theme="light">

{{ components.head_meta() }}

<body class="px-3 bg-slate-700 text-white max-w-3xl mx-auto pt-3">
  {{ components.header() }}
  <main>
    <div>
      <ol>
        {% for page in pages.byTag("posts", sortBy="publishDate=desc") %}
        <li class="pb-8">
          <div class="flex justify-between">
            <p class="font-viga text-xl pb-1">{{ page.data['title'] }}</p>
            <p class="font-viga text-slate-500">{{ page.data['outputDate'] }}</p>
          </div>

          <p>{{ page.data['description'] }}</p>
          <a class="pt-2" href="{{  page.data['url']  }}">
            <p class="primary-gradient-text font-viga">MORE</p>
          </a>
        </li>
        {% endfor %}
      </ol>
    </div>
  </main>

  {{ components.footer() }}
</body>

</html>